.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-datepicker__day--outside-month {
  color: #a8a8a8 !important;
  pointer-events: none;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% { opacity: 1;}
  50% { opacity: 0.3;}
  100% { opacity: 1;}
}

.blinking {
  animation: blink 2s infinite;
}


/* 추가된 스타일 */
.react-datepicker {
  font-size: 0.8em; /* 폰트 크기를 줄여서 전체 크기를 줄임 */
  width: 100%; /* 자동 너비 조정 */
}

.react-datepicker__header {
  padding: 8px 0; /* 헤더 패딩 조정 */
}

.react-datepicker__month {
  margin: 0.2em; /* 월 컨테이너 마진 조정 */
}

.react-datepicker__day {
  width: 1.2em; /* 일 크기 조정 */
  height: 1.8em;
  line-height: 1.2em;
}

.react-datepicker__day-name {
  width: 1.2em; /* 요일 크기 조정 */
  height: 1.2em;
  line-height: 1.2em;
}

.react-datepicker__current-month {
  font-size: 0.8em; /* 현재 월 폰트 크기 조정 */
}

.react-datepicker__navigation {
  top: 10px; /* 네비게이션 버튼 위치 조정 */
  width: 1.2em; /* 네비게이션 버튼 크기 조정 */
  height: 1.2em;
}